# Location of Flex SDK
SDK_HOME=C:\\Program Files\ (x86)\\Adobe\\Flex\ Builder\ 3\\sdks\\3.5.0

# Version
VERSION=0.4.1

# ADT
ADT.JAR=${SDK_HOME}/lib/adt.jar

# MXMLC Binary
MXMLC=${SDK_HOME}/bin/amxmlc.bat

# Halo Theme
HALO=${SDK_HOME}/frameworks/themes/Halo/halo.swc

# Application Root
APP_ROOT=../

# Source directory
SRC_DIR=${APP_ROOT}/src

# Libraries directory
LIBS_DIR=${APP_ROOT}/libs

# Locales directory
LOC_DIR=${APP_ROOT}/locale

# Builds directory -- this is where all our building takes place
BUILDS_DIR=builds

# Build Directory -- intermediate builds go here
BUILD_DIR=${APP_ROOT}/${BUILDS_DIR}/build

# Debug Directory -- debug builds go here
DEBUG_DIR=${APP_ROOT}/${BUILDS_DIR}/debug

# Release directory -- release builds go here
RELEASE_DIR=${APP_ROOT}/${BUILDS_DIR}/release

LINE_SEPARATOR=\n

# Release Application Name
APP_NAME=Stripper

# Application Descriptor
APP_DESCRIPTOR=${SRC_DIR}/ant-app.xml

# AIR Name (name of the exported air file)
AIR_NAME=${APP_NAME}.air

# Main Application Source File (in build dir)
MAIN_SOURCE_FILE=${BUILD_DIR}/${APP_NAME}.mxml

ASSETS=${SRC_DIR}/assets

SETTINGS=${SRC_DIR}/settings

# Release AIR Config XML
RELEASE_CONFIG=../config/config-release.xml

## -- Certificate Stuff -- ##

STORETYPE=pkcs12

KEYSTORE=${APP_ROOT}/cert/your-cert.p12

STOREPASS=your-password
