# Location of the Flex SDK
FLEX_HOME=E:/Dev/Flex/3.6.0

# Flex binaries
FLEX_BIN=${FLEX_HOME}/bin

# AIR mxmlc
AMXMLC=${FLEX_BIN}/amxmlc.bat

# ADL
ADL=${FLEX_BIN}/adl.exe

# ADT
ADT=${FLEX_HOME}/lib/adt.jar

#--------------------------------#

# Binaries folder
BIN_DIR=bin

# Location of application manifests
MANIFESTS_DIR=manifests

# Location of source files
SOURCE_FOLDER=src

# Project files
MAIN_SOURCE_FILE=src/Stripper.mxml
DEBUG_DESCRIPTOR=debug-app.xml
RELEASE_DESCRIPTOR=release-app.xml
ASSETS_DIR=src/assets

# Certificate
STORETYPE=pkcs12
KEYSTORE=cert/cert.p12
STOREPASS=Your Password Here
ORG_UNIT=Your Organizational Unit
ORG=Your Organization

# Compiled SWF
OUTPUT_SWF=Stripper.swf

# AIR package
OUTPUT_AIR=Stripper.air
